/*=============================================
ESCRITORIO (XL revisamos en 1366px en adelante)
=============================================*/

*{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Chewy', cursive;
}

ul, ol {
	list-style: none;
}

a:visited, a:link, a:focus, a:hover, a:active {
	list-style: none;
	text-decoration: none;
}

/*=============================================
HEADER 
=============================================*/

header {
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}

header .logotipo {
	width: 45%;
}

.redes ul li i {
	width: 35px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}

.redes ul li i.fa-facebook-f {
	background: #1475E0;
}

.redes ul li i.fa-instagram {
	background: #B18768;
}

.redes ul li i.fa-twitter {
	background: #00A6FF;
}

.redes ul li i.fa-youtube {
	background: #F95F62;
}

.redes ul li i.fa-snapchat-ghost {
	background: #FF9054;
}

.fa-bars {
	font-size: 35px;
}

.fa-search, .fa-bars{
	color:white;
}

.redesMovil {
	position: fixed;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, 0);
}

/*=============================================
BANNER
=============================================*/

.fade-slider {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}

.bannerEstatico {
	background: rgba(0, 0, 0, 0);
}


/*=============================================
TABLET HORIZONTAL (LG revisamos en 1024px)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px) {

}

/*=============================================
TABLET VERTICAL (MD revisamos en 768px)
=============================================*/

@media (max-width: 991px) and (min-width: 768px) {

	header .logotipo {
		width: 55%;
	}

}

/*=============================================
MOVIL HORIZONTAL (SM revisamos en 576px)
=============================================*/

@media (max-width: 767px) and (min-width: 576px) {

	header .logotipo {
		width: 65%;
	}

	.fade-slider {
		height: 72px;
	}

}

/*=============================================
MOVIL VERTICAL (revisamos en 320px)
=============================================*/

@media (max-width: 575px) {

	header .logotipo {
		width: 100%;
	}

	.fade-slider {
		height: 54px;
	}

}
